<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>PNG to JPG and WEBP</title>
    <style>
        .btn-group .btn:hover {
            background-color: rgb(0, 0, 76) !important;
            color: white !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-md-7 py-2">
                <div class="card"
                    style="background-image: linear-gradient(to right, #17181c, #1d253c); border-radius: 20px;">
                    <div class="p-3 text-center">
                        <h1 style="color: white;"> PNG to JPG and WEBP</h1>
                        <div class="btn-group">
                            <em>
                                <a href="/jpgtopng"><button type="button" class="btn btn-warning btn-sm">JPG to
                                        PNG</button></a>

                                &nbsp;
                                <a href="/png"><button type="button" class="btn btn-warning btn-sm">PNG
                                        to JPG and WEBP</button></a>
                                &nbsp;
                                <a href="/"><button type="button" class="btn btn-warning btn-sm">JPG and PNG to
                                        PDF</button></a>
                                &nbsp;
                                <a href="/pdftodocx"><button type="button" class="btn btn-warning btn-sm">PDF to
                                        DOCX</button></a>
                                &nbsp;
                                <a href="/docxtopdf"><button type="button" class="btn btn-warning btn-sm">DOCX to
                                        PDF</button></a>
                            </em>
                        </div><br><br>
                        <div class="btn-group">
                            <em>

                                <a href="/txttopdf"><button type="button" class="btn btn-warning btn-sm">TXT to
                                        PDF</button></a>
                                &nbsp;
                                <a href="/txttodocx"><button type="button" class="btn btn-warning btn-sm">TXT to
                                        DOCX</button></a>
                            </em>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="m-2 px-3">
                            <input class="form-control" type="file" accept="image/png" id="img" name="img">
                        </div>
                        <div class="m-2 px-3">
                            <label for="convert-type" class="form-label" style="color: white;">Dönüştürmek istediğin
                                uzantıyı seçin..</label>
                            <select class="form-select" id="convert-type" name="convert-type"
                                aria-label="Default select example">
                                <option selected>...</option>
                                <option value="jpg">JPG</option>
                                <option value="webp">WEBP</option>
                            </select>
                        </div>

                        <div class="m-2 py-3 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>